{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
    About page
{% endblock %}

{% block body_block %}
    <h1>И начнем мы с..</h1>
    <div>Что это за убожество? Верните мне мои деньги!<br />
        <img src="{% static 'images/about.jpg' %}" alt="картинка из статики"><br />
    </div>
    <div>
        Ты поселил "About" уже <strong>{{ visits }}</strong> раз:)
    </div>
    <div> Здесь поместим картинку из медиа:<br />
        <img src="{{ MEDIA_URL }}stars.jpg">
    </div>
    <p>This is a example</p>
        <button class="btn btn-primary"
            onClick="alert('You clicked the button using JavaScript.');">Click Me - I run JavaScript
        </button>
    <p>This is another example</p>
        <button class="btn btn-primary" id="about-btn">Click Me - I'm JavaScript on Speed</button>
<br/><br/>
<div class="ouch">ouch</div>
    <br/>
<div id="msg">Hello - I'm here for a JQuery Example too</div>
{% endblock %}