{% extends 'rango/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}

{% block title_block %}Profile{% endblock %}

{% block body_block %}
        <h1>Wellcome, {{ user.username }}, to your profile page!</h1>
            <div class="row-marketing">
                <section class="row text-center placeholders">
                    <h4>Your profile details:</h4>
                    <div class="col-lg-12"><ul class="list-group"><li class="list-group-item">
                        {% if userprofile.website %}
                            Website: {{ userprofile.website }}
                        {% else %}
                            no website registered to your account
                        {% endif %}
                    </li></ul></div>
                    <div class="col-lg-6">
                        <img src="{{ userprofile.picture }}" alt="No profile image:(">
                    </div>
                    <div class="col-lg-6">
                        <ul class="list-group">
                            <li class="list-group-item">Username: {{ selecteduser.username }}</li>
                            <li class="list-group-item">Email: {{ selecteduser.email }}</li>
                            <li class="list-group-item">Registry time: {{ selecteduser.date_joined }}</li>
                        </ul>
                    </div>
                </section>
            </div>
    <form role="form" id="profile_register_form" method="post" enctype="multipart/form-data"
          action="{% url 'rango:register_profile' %}">
    <h2 class="form-signin-heading">Edit your profile here</h2>
    {% csrf_token %}
    {% bootstrap_form form %}
    <button class="btn btn-primary" type="submit" name="submit">Update profile</button>
</form>
{% endblock %}